@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

/* Variables */
:root {
  /* Neutral Colors */
  --dark-blue: #172339;
  --grey: #49566d;
  --cream: #f3ede7;
  --cream-white: #faf8f6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  color: var(--grey);
  background-color: var(--cream-white);
}
button {
  cursor: pointer;
}
p {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  line-height: clamp(28px, 2vw, 32px);
  letter-spacing: clamp(0.0888889px, 2vw, 0.1px);
}
.logo {
  width: 8.1rem;
  height: auto;
}
.heading-l,
.heading-m {
  font-weight: 700;
  color: var(--dark-blue);
}
.heading-l {
  font-size: 4.8rem;
  line-height: 56px;
  letter-spacing: -0.5px;
}

.heading-s {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
}
header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.btn-primary,
.btn-secondary {
  font-weight: 700;
  border-radius: 6px;
}
.btn-primary {
  border: none;
  color: var(--cream-white);
  background-color: var(--dark-blue);
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.18px;
  padding: 1.5rem 2.5rem;
}
.btn-primary:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
}
.btn-secondary {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  line-height: clamp(24px, 2vw, 32px);
  letter-spacing: clamp(-0.14px, 2vw, -0.16px);
  color: var(--dark-blue);
  background-color: transparent;
  border: 1px solid var(--dark-blue);
  padding: 1rem 2rem;
  transition: background-color 0.5s ease;
}
.btn-secondary:hover {
  color: var(--cream-white);
  background-color: var(--dark-blue);
  transition: background-color 0.5s ease;
}
main {
  width: 100%;
}
.info {
  padding: 3rem 2rem;
}
.heading-xl {
  color: var(--dark-blue);
  font-weight: 400;
  font-size: clamp(3.8rem, 7.3vw, 7.2rem);
  line-height: clamp(44px, 7.3vw, 78px);
  letter-spacing: clamp(-0.527778px, 7.3vw, -1px);
}
.heading-xl span {
  font-weight: 700;
}
.solution-arch {
  position: relative;
}
.solution-arch::before {
  content: "";
  background: url("./assets/pattern-curved-line-1.svg") no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -75%;
  left: 0%;
}
.info p {
  margin-block: 3rem;
}
.info button {
  margin-bottom: 4rem;
}
.img-smartphone-mobile {
  width: 100%;
}
.stat-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
}
.stat {
  margin-inline: auto;
  text-align: center;
}
.testimonial-section {
  background: url("/assets/pattern-blur.svg") no-repeat;
  background-size: 70%;
  background-position: top;
  color: var(--cream-white);
  background-color: var(--dark-blue);
  padding: 0 2rem 8rem 2rem;
  margin-top: 40vw;
  text-align: center;
  border-radius: 1.5rem;
}

.jeremy {
  width: 65%;
  position: relative;
  top: -35vw;
  left: 7vw;
}
.qoute-line {
  width: 20%;
  position: relative;
  right: 35vw;
  top: -10vw;
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.testimonial h2 {
  color: var(--cream-white);
  font-size: clamp(4rem, 7vw, 4.8rem);
  line-height: clamp(48px, 7vw, 56px);
  letter-spacing: clamp(-0.416667px, 7vw, -0.5px);
}
.testimonial h2 span {
  font-weight: 400;
}
q {
  font-size: clamp(1.8rem, 2vw, 2rem);
  line-height: clamp(32px, 2vw, 35px);
  letter-spacing: clamp(0.09px, 2vw, 0.1px);
}
.heading-m {
  color: var(--cream-white);
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-block: 6rem;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.0833333px;
  background-color: var(--cream);
}
.social-link-group {
  display: flex;
  gap: 2rem;
}
.social-link {
  text-decoration: none;
  transition: opacity 0.5s ease;
}
.social-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

@media (min-width: 768px) {
  header {
    padding: 4rem 4vw;
  }
  .img-smartphone-mobile {
    display: none;
  }
  .info {
    min-height: 48.2rem;
    background: url("./assets/image-hero-portrait@2x.webp") no-repeat;
    background-size: contain;
    background-position: 94%;
    padding: 8rem 4vw;
    margin-block: 4rem;
  }
  .info h1 {
    width: 70%;
  }
  .info p {
    width: 50%;
  }
  .stat-section {
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
  }
  .testimonial-section {
    position: absolute;
    background-size: 50%;
    padding: 0 4vw 8rem 4vw;
    margin: 20vw 4vw 0 4vw;
    z-index: 2;
  }
  .jeremy {
    width: 40%;
    top: -20vw;
    left: 5vw;
  }
  .qoute-line {
    width: 10%;
    right: 20vw;
    top: -6vw;
  }
  footer {
    padding-top: 60rem;
    padding-bottom: 8rem;
    padding-inline: 4vw;
    margin-top: 43rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
